---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";

// Page section components
import Skills from "../components/Skills.astro";

const publicSpeaking = [
  {
    link: "https://www.youtube.com/watch?v=x_Z_WWD4qac",
    title: "Pycon Lithuania Conference",
    img: "/assets/pyconLT23.svg",
  },
  {
    link: "https://www.youtube.com/watch?v=5Ba6fE8WF8Q",
    title: "Prague ML Meetup",
    img: "/assets/h2o-logo.svg",
  },
  {
    link: "https://www.webrush.io/episodes/episode-209-catch-the-wave-with-martin-turoci",
    title: "Web Rush Podcast",
    img: "/assets/web-rush.jpg",
  },
  {
    link: "https://talkpython.fm/episodes/show/386/realtime-web-apps-and-dashboards-with-h2o-wave",
    title: "Talk Python To Me Podcast",
    img: "/assets/talk-python.png",
  },
];

const workExperience = [
  {
    company: "H2O.ai",
    logo: "/assets/h2o-logo.svg",
    role: "Senior Software Engineer",
    date: "May 2020 - Present",
    descriptions: [
      "Started H2O Wave project alongside the Chief of Technology.",
      "Grew into a project lead.",
      "Dev advocate for the project - wrote blog posts, gave talks, etc.",
      "Grew the framework to become a dedicated Pypi package (top 1% in downloads).",
      "Github discussions 400, Discord 100+ members, 120k monthly downloads, all with $0 spent on advertising or marketing.",
      "Author of developer tooling around the framework - IDE extensions, Getting Started apps etc.",
    ],
    tech: [
      "Typescript",
      "React",
      "Jest",
      "Vite",
      "Python",
      "Go",
      "Docker",
      "Github Actions",
      "AWS",
      "Playwright",
    ],
  },
  {
    company: "Wirecard",
    logo: "/assets/wirecard.jpg",
    role: "Frontend Developer",
    date: "Apr 2019 - Apr 2020",
    descriptions: [
      "Implementing new UI features for Wirecard global merchant registration form.",
      "Implementing new UI features for internal applications.",
      "Webpack build optimizations.",
      "Code reviews, dev experience, interviewing candidates.",
    ],
    tech: ["Typescript", "VueJS", "Jest", "Webpack"],
  },
  {
    company: "IBM",
    logo: "/assets/ibm.jpg",
    role: "Application Developer",
    date: "Sep 2017 - Apr 2019",
    descriptions: [
      "Feature development for legacy Java-based desktop application.",
      "Communication in German language.",
    ],
    tech: ["Java"],
  },
];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="stack gap-10 lg:gap-20">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="👋 Hello, I am Martin Turoci"
          tagline="a Senior Software Engineer interested in open source, developer tooling, and AI."
          align="start"
        >
          <div class="roles">
            <Pill><Icon icon="code" size="1.33em" /> Engineer</Pill>
            <Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill>
            <Pill><Icon icon="pencil-line" size="1.33em" /> Blogger</Pill>
          </div>
        </Hero>

        <picture>
          <source srcset="/assets/speaking-1.webp" type="image/webp" />
          <img
            alt="Martin Turoci presenting at Pycon2023"
            height="620"
            src="/assets/speaking-1.JPG"
          />
        </picture>
      </header>

      <Skills />
    </div>
    <section class="section">
      <header class="section-header stack gap-2 lg:gap-4">
        <h3>Work experience</h3>
      </header>
      <div class="gallery work-exp-wrapper">
        {
          workExperience.map((exp) => (
            <article class="work-exp">
              <div class="img-wrapper">
                <img
                  src={exp.logo}
                  alt={exp.company}
                  width="100"
                  height="100"
                />
              </div>
              <div>
                <h4 class="title">{exp.role}</h4>
                <p>{exp.company}</p>
                <i>{exp.date}</i>
                <ul class="desc">
                  {exp.descriptions.map((desc) => (
                    <li>{desc}</li>
                  ))}
                </ul>
                <h5>Tech: </h5>
                <ul class="tech">
                  {exp.tech.map((tech) => (
                    <li>{tech}</li>
                  ))}
                </ul>
              </div>
            </article>
          ))
        }
      </div>
    </section>
    <section class="section">
      <header class="section-header stack gap-2 lg:gap-4">
        <h3>Dev advocacy</h3>
      </header>

      <div class="gallery dev-advocacy">
        <Grid variant="small">
          {
            publicSpeaking.map((event) => (
              <li class="mention-card">
                <a href={event.link} target="_blank">
                  <img src={event.img} alt={event.title} width="100" />
                  <p>{event.title}</p>
                </a>
              </li>
            ))
          }
        </Grid>
      </div>
    </section>
  </div>
</BaseLayout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .roles {
    display: none;
  }

  .dev-advocacy {
    margin: 0 1.5rem;
  }
  .hero img {
    aspect-ratio: 5 / 4;
    object-fit: cover;
    object-position: top;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  .work-exp-wrapper {
    margin: 0 auto;
  }
  .work-exp {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1rem;
    margin-top: 2rem;
  }
  .work-exp:first-child {
    margin-top: 0;
  }

  .work-exp .img-wrapper {
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  .work-exp > div {
    text-align: left;
    flex-basis: 500px;
    flex-grow: 1;
  }

  .work-exp h4 {
    font-size: 1.25rem;
  }
  .work-exp h5 {
    display: inline;
    font-size: 1rem;
  }
  .work-exp .desc {
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
  .work-exp .tech {
    list-style: none;
    display: inline;
    padding: 0;
    margin-left: 1rem;
  }
  .tech li {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }

  @media (min-width: 50em) {
    .hero {
      display: grid;
      grid-template-columns: 6fr 4fr;
      padding-inline: 2.5rem;
      gap: 3.75rem;
    }

    .roles {
      margin-top: 0.5rem;
      display: flex;
      gap: 0.5rem;
    }

    .hero img {
      aspect-ratio: 3 / 4;
      border-radius: 4.5rem;
      object-fit: cover;
    }
  }

  /* ====================================================== */

  .section {
    display: grid;
    gap: 2rem;
  }

  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "gallery gallery gallery gallery";
      gap: 5rem;
    }

    .section-header {
      grid-area: header;
      font-size: var(--text-lg);
    }

    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .gallery {
      grid-area: gallery;
    }

    .cta {
      grid-area: cta;
    }
  }

  /* ====================================================== */

  .mention-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    padding: 1rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
      height: 9.5rem;
    }
  }
</style>
